@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {

    background-color: white;
    user-select: none;

}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    padding-inline: 20px;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerLeft {
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;

    span {
        font-size: 25px;
        font-weight: 900;
    }
}

.headerBar {
    display: flex;
    gap: 33px;

    a {
        font-family: Kumbh Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}


.headerRight {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 46px;
}


.productsGrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 35px 30px;

}

.product-one {
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: rgba(222, 123, 73, 0.17) 0px 0px 25px 4px inset, rgba(251, 148, 97, 0.15) 0px -36px 30px 0px inset, rgba(241, 128, 91, 0.1) 0px -79px 40px 0px inset, rgba(228, 106, 65, 0.06) 0px 2px 1px, rgb(238 103 50 / 9%) 0px 4px 2px, rgb(211 73 8 / 9%) 0px 8px 4px, rgb(210 62 40 / 9%) 0px 16px 8px, rgb(215 77 38 / 9%) 0px 32px 16px;
}

.product-one-img {
    display: flex;
    justify-content: space-between;

    img {
        border-radius: 10px;
        width: 232px;
        height: 200px;
    }
}

.product-one-first {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    span {
        text-align: left;
        color: #1D2026;
        font-weight: 700;
    }

    p {
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        text-align: left;
        text-transform: lowercase;
        color: #586275;
    }
}

.product-one-second {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;

    span {
        color: rgb(243, 95, 50);
        font-weight: 900;
        font-size: 20px;
    }

    p {

        margin: 0%;
        color: #393e47;
    }
}

.discountSpan {
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(253, 29, 29, 0.847) 15%, rgba(252, 233, 69, 0.875) 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 75% 25%;
    }

    50% {
        background-position: 75% 25%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.productWrapper {
    display: flex;
    gap: 125px;
}


.productThumbnails {
    margin-top: 32px;
    display: flex;
    gap: 31px;

    img {
        border-radius: 10px;
        width: 88px;
        height: 88px;
    }
}

.productWrapper-left {
    margin-top: 91px;
}

.productWrapper-right {
    margin-top: 152px;
    display: flex;
    flex-direction: column;
}

.productName {
    font-family: Kumbh Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.12px;
    letter-spacing: 2px;
    text-align: left;
    color: #FF7E1B;
}

.productTitle {
    margin-top: 27px;
    font-family: Kumbh Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #1D2026;
}

.productDescription {
    margin-top: 32px;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #69707D;
}

.priceDiv {
    margin-top: 24px;
    display: flex;
    gap: 16px;

    div {
        display: flex;
        flex-direction: column;
    }
}

.discountedPrice {
    font-family: Kumbh Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.73px;
    text-align: left;
    color: #1D2026;
}

.price {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #B6BCC8;
    text-decoration: line-through;
}

.productDiscount {
    span {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        background-color: #FFEEE2;
        color: #FF7E1B;
        padding: 7px 10px;
        border-radius: 10px;
    }
}

.stockAndCart {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.stock {
    span {
        background-color: #F6F8FD;
        padding: 13px 16px;
        font-size: 21px;
        /* color: #1D2026; */
        font-weight: 900;
        cursor: pointer;

    }
}


.stockOut {

    color: #FF7E1B;
    border-radius: 10px 0px 0px 10px;
}

.stockIn {
    color: #FF7E1B;
    border-radius: 0px 10px 10px 0px;
}

.cart {
    padding: 19px 76px;
    background-color: #FF7E1B;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10px;

    img {

        margin-right: 15px;
    }
}

.basket {
    display: none;
    position: absolute;
    right: 90px;
    top: 80px;
    background-color: white;
    box-shadow: 0px 20px 50px -20px #1D202680;
    border-radius: 10px;

}

.cartSpan {
    padding: 24px 0px 24px 24px;
    border-bottom: 1px solid #E4E9F2;

    span {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;

    }
}

.basketDetail {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 17px;

    img {

        border-radius: 4px;
    }
}

.fallSpan {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #69707D;

}

.firstPrice {
    color: #69707D;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.detailMiddleOne {
    display: flex;
    gap: 6px;
}

.totalPrice {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #1D2026;
}

.checkout {
    padding: 20px 120px;
    background-color: #FF7E1B;
    margin-bottom: 32px;
    margin-inline: 24px;
    border-radius: 10px;

    span {
        color: #FFFFFF
    }
}